.events-centered {
  display: flex;
  justify-content: space-evenly;
}

.user-event {
  background-color: cornsilk;
  margin-bottom: 15px;
  border: 1px solid lightgrey
}

.friend-event {
  background-color: #EDF0F0;
  border: 1px solid lightgrey
}

div.event-card:nth-child(1) {
  background-color:#4DC4C4;
  margin: 20px;
  padding: 20px;
}

div.event-card:nth-child(1) > h3.event-name {
  font-weight: 800;
}
div.event-card:nth-child(1) > p {
  font-weight: bold;
}
