.dashboard-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


.dashboard-div {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 10px;
}
